.modal-body input {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: hsl(0, 0%, 95%);
  padding: 10px;
  margin: 0 0 15px;
  box-sizing: border-box;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.clos {
  background-color: black;
  color: white;
  transition: all 0.3s ease;
  width: 20%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
  font-weight: 600;
  border: 0;
  outline: 0;
  border-radius: 7%;
  transition: all 0.5s ease;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}
.clos:hover {
  box-shadow: 0 0 2px 2px rgb(0, 0, 0);
  background: black;
}

#signup {
  width: 20%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
  border: 0;
  outline: 0;
  color: rgb(65, 34, 34);
  text-decoration: none;
  font-weight: 600;
  transition: all 0.5s ease;
  text-align: center;
  border-radius: 7%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

#signup:hover {
  background-color: blue;
  color: white;
  box-shadow: 0 0 2px 2px rgb(0, 0, 0);
  text-decoration: none;
}
#login {
  border-radius: 7%;

  width: 20%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
  border: 0;
  outline: 0;
  color: rgb(65, 34, 34);
  font-weight: 600;
  transition: all 0.5s ease;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  background: white;
}
#login:hover {
  background-color: blue;
  color: white;
  box-shadow: 0 0 2px 2px rgb(0, 0, 0);
}
#logout{
  border-radius: 7%;

  width: 20%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
  border: 0;
  outline: 0;
  color: rgb(65, 34, 34);
  font-weight: 600;
  transition: all 0.5s ease;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  background: white;
}
#logout:hover{

  background-color: blue;
  color: white;
  box-shadow: 0 0 2px 2px rgb(0, 0, 0);


}
#log {
  
  box-sizing: border-box;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
  border: 2px solid blue;
  outline: 0;
  color: rgb(65, 34, 34);
  font-weight: 600;
  transition: all 0.5s ease;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 7%;
  margin-left: 34px;

}

#log:hover {
  background-color: blue;
  color: white;
  box-shadow: 0 0 2px 2px rgb(0, 0, 0);
}

.header {
  width: 100%;
  height: 8vh;
  background: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-height:1100px){

  .header{

    margin: 0 auto;
    height: 68px;


  }

}
@media screen and (max-width: 400px) {
  .clos {
    width: 100%;
  }
  #login {
    width: 100%;
  }
  #signup {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  #log {
    margin: 10px 0 0 80%;
  }
}


.search{

  outline: deepskyblue;
  display: flex;
  flex-direction: row;
border: 2px solid blue;


}
#search{
  border: 0;
  outline: 0;
  width: 35rem;
  border-right: 2px solid blue;
  
  }
  
  .mysearch{
    cursor: pointer;
    font-size: 2rem;
    background: blue;
    color: white;
  }
  .fa-comment{
   margin-left: 34px;
   font-size: 2rem;
   
   transition: all 0.5s ease;
 
  }
  .fa-comment:hover{

    border-radius: 10%;
    background: chartreuse;
    cursor: pointer;
 
  }

  .fa-bell{

    margin-left: 34px;
    font-size: 2rem;
   
    transition: all 0.5s ease;
    
  }
  .fa-bell:hover{
 
    
    border-radius: 10%;
    background: chartreuse;
    cursor: pointer;
 
  }

  .fa-plus{
    font-size: 19px;
    margin-top: 5px;
  }
  .hide{
    display: none;
   
  }
  .sell{
    border: 4px solid green;
    margin-left: 34px;
    padding: 8px;
    display: flex;
    cursor: pointer;
    margin-top: 8.5px;
    
  
  }
  .sell span{
    
    font-size: 23px;

  }

#location{
  cursor: pointer;
  border: 0;
  outline: 0;

}
.loc{
  margin-right: 18px;
border: 2px solid blue;
background: white;
}
.olX{
  margin-right: 18px;
  font-family: 'Bevan', cursive;
  margin-top: 9px;
}
@media screen and (min-width:720px){

 .loc{
 
   display: flex;
  
   align-items: center;
  margin-right: 18px;
  border: 2px solid blue;
  font-size: 1.5rem;
 }

}


